.Footer h4 {
    grid-area: footer;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    margin: 0px 50px 0px 50px;
}

.Footer a {
    color: red;
}
.Footer a:hover {
    color: rgb(175, 0, 0);
}