.Section {
    background: rgb(211,211,211);
    border-radius: 1rem;
    color: #222;
    padding: 2rem;
    margin: 40px 100px 30px 100Px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.Section div{
    padding: 1rem;
}

.Section p {
    text-align: left;
    padding: 2px;
}