.Title h1 {
    grid-area: header;
    background-color: rgb(211,211,211);
    color: #222;
    font-size: 35px;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
}